body {
    background-image: url(../imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

html, body {
   height: 100vh; 
}
* {
    font-family: sans-serif;
}
.main {
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
}
.main_title {
    font-size: 32px;
    color: white;
    text-shadow: 4px 4px 4px black;
    text-align: center;
}

img {
    margin: auto;
}

.main_phone {display: block;}
.main_print {display: none;}
.main_tablet {display: none;}
.main_pc {display: none;}
.main_tv {display: none;}