
        h1 {
            color: blue; background-color: black;
            font-size: 25px;
            @font-face {
                font-family: face;
                src: url('fonts/strange marvel.ttf') format(truetype);
            }
        }
        h1#principal{
            text-align: center;
        }
        h2 {
            color: white; background-color: black;
        }
        body{
            background-image: linear-gradient(to top, black, grey);
            background-attachment: fixed;
        }
